{% extends 'landingpage.html' %}

{% block data %}

<div class="col" style="padding-top: 2%;">
    <h1 class="date">27 Julai 2022</h1>

    <div class="container">
        <h2 class="title">Mauzo ya Leo</h2>
    
    <table>
        <tr class="row-red">
            <td>Mayai</td>
            <td>Trei 2</td>
            <td>18000</td>
            <td>Futa</td>
        </tr>
    
        <tr class="row-blue">
            <td>Mayai</td>
            <td>Trei 2</td>
            <td>18000</td>
            <td>Futa</td>
        </tr>
    
        <tr class="row-red">
            <td>Mayai</td>
            <td>Trei 2</td>
            <td>18000</td>
            <td>Futa</td>
        </tr>
    
        <tr class="row-blue">
            <td>Mayai</td>
            <td>Trei 2</td>
            <td>18000</td>
            <td>Futa</td>
        </tr>
    
        <tr class="row-blue">
            <td><b>JUMLA</b></td>
            <td> </td>
            <td>18000</td>
        </tr>
    </table>
    </div>

    <div class="container">
        <h2 class="title">Chati ya Mauzo</h2>
    </div>


    <div style="text-align: right;">
        <button class="big-btn">
            Ongeza Mauzo
        </button>
    </div>
    

</div>



{% endblock data %}